@import url('https://fonts.googleapis.com/css?family=Audiowide');

:root {
  --black: #3e3d32;
  --white: #f8f8f2;
  --yellow: #e6db74;
  --green: #a6e22e;
  --orange: #fd971f;
  --purple: #ae81ff;
  --pink: #fd5ff0;
  --blue: #66d9ef;
  --red: #f92672;
}

html,
body,
html * {
  font-family: "Audiowide", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: var(--black);
  background-attachment: fixed;
  padding: 1px 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 4%;
}

h1 {
  font-size: 300%;
  color: var(--white);
  font-weight: 700;
}

p {
  color: var(--blue);
}

.equal {
  color: var(--pink);
}

.name-fn {
  color: var(--blue)
}

h2 {
  font-size: 250%;
  color: var(--pink);
}

h3 {
  font-size: 200%;
  color: var(--white);
}

h4 {
  font-size: 150%;
  color: var(--white);
}

h5 {
  font-size: 125%;
  color: var(--white);
}

h6 {
  font-size: 100%;
  color: var(--white);
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: var(--purple);
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: var(--green);
}

.baner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  min-height: 30vh;
  background-color: var(--yellow);
  border-radius: 8px;
  margin-bottom: 4%
}

.baner p {
  font-size: 350%;
  font-weight: bold;
}

#about {
  display: flex;
  flex-direction: row-reverse;
}

.about-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-align: justify;
}

.img-about {
  border-radius: 0px 8px 8px 0px;
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

.work-separator h2 {
  color: var(--white);
}

#work {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


.work-pkt {
  border: 1px dashed var(--red);
  flex-basis: 47%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-pkt:hover {
  cursor: pointer;
  border: 1px dashed var(--white);
}

.work-pkt:last-child {
  flex-basis: 97%;
}

.work-pkt:nth-child(even) h4 {
  color: var(--orange);
}

.work-pkt:nth-child(odd) h4 {
  color: var(--green);
}

.work-pkt:nth-child(odd) p {
  color: var(--orange);
}

.work-pkt:nth-child(even) p {
  color: var(--green);
}

.work-pkt:last-child h4 {
  color: var(--blue);
}

.work-pkt:last-child p {
  color: var(--purple);
  ;
}

#contact {
  display: flex;
  align-items: baseline;
}

.contact-item {
  margin-left: 10px;
}

.contact-item a {
  color: var(--yellow);
  text-decoration: none;
  padding: 5px;
}

.contact-item a:hover {
  color: var(--blue);
  cursor: pointer;
}

#resume {
  display: flex;
  align-items: baseline;
}

#resume a {
  color: var(--pink);
  text-decoration: none;
}

.resume-item {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  h1 {
    font-size: 250%;
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-about {
    border-radius: 8px;
    text-align: center;
    width: 60%;
  }

  #about {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-box {
    margin-bottom: 5px;
    margin-right: unset;
  }

  .baner {
    justify-content: center;
    align-items: center;
    min-height: 20vh;
  }

  .baner p {
    font-size: 250%;
    font-weight: unset;
  }

  #work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .work-pkt {
    flex: 1;
  }

  .work-pkt:last-child {
    flex: 1;
  }

}


@media only screen and (max-width: 600px) {
  body {
    padding: 1px 10px;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    font-size: 10px;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 180%;
  }

  h3 {
    font-size: 150%;
  }

  p {
    font-size: 80%;
  }

  .baner {
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: unset;
  }

  #contact {
    flex-wrap: wrap;
    align-items: unset;
  }
}